<div class="loginScreen">

	<a href="#/home" class="headerButton">
		<i class="fa fa-chevron-left"></i>
	</a>


	<div class="centeredImg">
		<img src="img/logoWhite.png" />
	</div>

	<div class="about">

		<p class="aboutTitle"
			style="font-size: 18px; text-align: center; margin-top: 15px;">Acerca
			de Nosotros</p>
		<p class="aboutText">Inauguró su primer local comercial en 1963,
			en la calle Guayaquil en el Centro de Quito, con el nombre de
			ALMACENES ETATEX.</p>
		<p class="aboutText">Incursionaba en la venta de telas, pieles,
			artículos para el hogar. Posteriormente se comercializó prendas de
			vestir. En 1978 se abrió el 2do almacén en la calle Venezuela.</p>
		<p class="aboutText">El 14 de Septiembre de 1989, se constituye
			como: COMERCIAL ETATEX CIA. LTDA.</p>
		<p class="aboutText">Se inicia un proceso de transformación del
			negocio tradicional, a una empresa moderna y dinámica.</p>
		<p class="aboutText">Dentro de su proceso de transformación en1995
			cambia su nombre comercial a: ETAFASHION.</p>

		<p class="aboutTitle">Visión comercial de la marca</p>
		<p class="aboutText">Ser la cadena líder en moda, con cobertura
			nacional e internacional, siendo la primera opción en la mente del
			consumidor.</p>

		<p class="aboutTitle">Misión</p>
		<p class="aboutText">Contribuir a mejorar la imagen de nuestros
			clientes de acuerdo a su estilo de vida, ofreciéndole productos de
			moda, con variedad, calidad, excelente precio, generando confianza,
			credibilidad y responsabilidad.</p>

		<p class="aboutTitle">Políticas</p>
		<p class="aboutText">El desarrollo de colecciones y diseños,
			ofrecen al consumidor productos de acuerdo a las tendencias de moda,
			colores y estilos.</p>
		<p class="aboutText">La investigación del mercado, la satisfacción
			total del cliente externo son los pilares para el desarrollo de las
			actividades de comercialización.</p>
		<p class="aboutText">La innovación y tecnología, son los recursos
			que utilizamos para satisfacer los requerimientos del cliente.</p>
		<p class="aboutText">La eficiente administración del talento
			humano, los permanentes programas de desarrollo personal y
			profesional, garantizan el servicio eficiente en la compañía.</p>

		<div class="loginLinks" style="text-align: center;">
			<a href="#/home">Regresar</a>
		</div>


	</div>
</div>