<div class="container-fluid" ng-init="sLoadAccount()">

	<div class="accountData">
		<div class="row"> 
			<div class="col-xs-5 accountDataLabel">Nombres:</div>
			<div class="col-xs-7 accountDataInfo">{{user.strNombres}}</div>
		</div>
		<!-- <div class="row">
			<div class="col-xs-5 accountDataLabel">Miembro desde:</div>
			<div class="col-xs-7 accountDataInfo">{{memberSince}}</div>
		</div>
		<div class="row">
			<div class="col-xs-5 accountDataLabel">Puntos</div>
			<div class="col-xs-7 accountDataInfo">{{points}}</div>
		</div> -->

	</div>

	<div class="accountButtons">
		<!-- <div class="row">
			<div class="col-xs-6 col-sm-6 accountButton">
				<a href="javascript:void(0)">
					<img src="img/headerLittle.png">
					<br>
					<div>ETA Cash</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 accountButton">
				<a href="#/coupons">
					<i class="fa fa-th"></i>
					<div>Tu cartilla</div>
				</a>
			</div>

		</div>
		<div class="row" style="margin-top: 25px;">
			<div class="col-xs-6 col-sm-6 accountButton">
				<a href="#/history">
					<i class="fa fa-credit-card-alt"></i>
					<div>Tus compras</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 accountButton">
				<a href="#/accountStatus">
					<i class="fa fa-usd"></i>
					<div>Estado de cuenta</div>
				</a>
			</div>
		</div> -->
		<div class="row" style="margin-top: 25px;">
			<div class="col-xs-12 col-sm-12 accountButton">
				<a href="javascript:void(0)" ng-click="logout()">
					<i class="fa fa-power-off"></i>
					<div>Cerrar sesión</div>
				</a>
			</div>
		</div>

		<div class="row" style="margin-top: 25px;">
			<div class="col-xs-12 col-sm-12 accountButton">
				<a href="javascript:void(0)" ng-click="goToModifyPass()">
					<i class="fa fa-edit"></i>
					<div>Modificar contrasena</div>
				</a>
			</div>
		</div>

	</div>