<div class="container-fluid" ng-init="sLoadHome()">

	<p class="pageTitle">Tu cartilla de cupones</p>

	<div class="row coupons">
		<div class="col-xs-4 col-sm-4 coupon">
			<i class="fa fa-check-square-o"></i>
		</div>
		<div class="col-xs-4 col-sm-4 coupon">
			<i class="fa fa-check-square-o"></i>
		</div>
		<div class="col-xs-4 col-sm-4 coupon">
			<i class="fa fa-check-square-o"></i>
		</div>
	</div>

	<div class="row coupons">
		<div class="col-xs-4 col-sm-4 coupon">
			<i class="fa fa-check-square-o"></i>
		</div>
		<div class="col-xs-4 col-sm-4 coupon">
			<i class="fa fa-check-square-o"></i>
		</div>
		<div class="col-xs-4 col-sm-4 coupon">
			<i class="fa fa-check-square-o"></i>
		</div>
	</div>

	<div class="row coupons">
		<div class="col-xs-4 col-sm-4 coupon">
			<i class="fa fa-check-square-o"></i>
		</div>
		<div class="col-xs-4 col-sm-4 coupon">
			<i class="fa fa-square-o"></i>
		</div>
		<div class="col-xs-4 col-sm-4 coupon">
			<i class="fa fa-square-o"></i>
		</div>
	</div>

	<div class="row coupons">
		<div class="col-xs-4 col-sm-4 coupon"></div>
		<div class="col-xs-4 col-sm-4 coupon">
			<i class="fa fa-square-o"></i>
		</div>
		<div class="col-xs-4 col-sm-4 coupon"></div>
	</div>

	<p class="genericText" style="font-size: 17px; text-align: center;">
		Te faltan <strong>3</strong> cupones
	</p>

	<div class="genericButton">
		<a href="javascript:void(0)">Ver obsequios</a>
	</div>

</div>