<div class="container-fluid" ng-init="sLoadEtacash()">


    <div class="accountData">
        <div class="row">
            <div class="col-xs-5 accountDataLabel">Saldo:</div>
            <div class="col-xs-7 accountDataInfo">$ {{etacashData.saldo}}</div>
        </div>

    </div>

    <div class="accountButtons">
        <!-- <div class="row" style="margin-top: 25px;">
            <div class="col-xs-6 col-sm-6 accountButton">
                <a href="#/history">
                    <i class="fa fa-credit-card-alt"></i>
                    <div>Tus compras</div>
                </a>
            </div>
             <div class="col-xs-6 col-sm-6 accountButton">
                <a href="#/coupons">
                    <i class="fa fa-th"></i>
                    <div>Tu cartilla</div>
                </a>
            </div> 
        </div> -->

        <div class="row" style="margin-top: 25px;">
            <div class="col-xs-12 col-sm-12 accountButton">
                <a href="#/history">
                    <i class="fa fa-credit-card-alt"></i>
                    <div>Tus compras</div>
                </a>
            </div>
        </div>

    </div>