
<div class="container-fluid" ng-init="sLoadHome()">

	<h4>Lunes 22 de agosto, 2016, Etafashion Quicentro</h4>

	<div class="products">
		<div class="product">
			<div class="row">
				<div class="col-xs-9">
					<h5 class="productOrderName">
						Jean strech <span class="skuText">(5000000317220)</span>
					</h5>
					<div class="productOrderData">
						Cantidad:
						<div class="pull-right">2</div>
					</div>
					<div class="productOrderData">
						P/U:
						<div class="pull-right">$19.95</div>
					</div>
					<div class="productOrderData">
						Total:
						<div class="pull-right">$39.90</div>
					</div>
				</div>
				<div class="col-xs-3">
					<img class="productOrderImage" src="img/prod1.jpg">
				</div>
			</div>
		</div>
		<div class="product">
			<div class="row">
				<div class="col-xs-9">
					<h4 class="productOrderName">
						Camisa a cuadros azul con detalles <span class="skuText">(5000000298757)</span>
					</h4>
					<div class="productOrderData">
						Cantidad:
						<div class="pull-right">1</div>
					</div>
					<div class="productOrderData">
						P/U:
						<div class="pull-right">$25.50</div>
					</div>
					<div class="productOrderData">
						Total:
						<div class="pull-right">$25.50</div>
					</div>
				</div>
				<div class="col-xs-3">
					<img class="productOrderImage" src="img/prod2.jpg">
				</div>
			</div>
		</div>
	</div>
	<hr>
	<h4>Sumario</h4>
	<div class="row summary">
		<div class="col-xs-4"></div>
		<div class="col-xs-4 summaryLabel">Subtotal:</div>
		<div class="col-xs-4 summaryData">$58.39</div>
	</div>
	<div class="row summary">
		<div class="col-xs-4"></div>
		<div class="col-xs-4 summaryLabel">Impuestos:</div>
		<div class="col-xs-4 summaryData">$7.01</div>
	</div>
	<div class="row summary">
		<div class="col-xs-4"></div>
		<div class="col-xs-4 summaryLabel">Total:</div>
		<div class="col-xs-4 summaryData">$65.4</div>
	</div>

</div>