<div class="loginScreen" ng-init="sLoadModifyPass()">

	<div class="centeredImg">
		<img src="img/logoWhite.png" />
	</div>

	<div class="loginControls">

		<div class="loginControl" ng-if="showuserpass">
			<i class="fa fa-lock"></i>
			<input type="password" placeholder="Contraseña anterior" autocorrect="off" autocapitalize="none" ng-model="oldpassword" />
		</div>

		<div class="loginControl">
			<i class="fa fa-lock"></i>
			<input type="password" placeholder="Nueva Contraseña" autocorrect="off" autocapitalize="none" ng-model="newpassword" />
		</div>

		<div class="loginControl">
			<i class="fa fa-lock"></i>
			<input type="password" placeholder="Repite la Nueva Contraseña" autocorrect="off" autocapitalize="none" ng-model="newpassword2" />
		</div>

		<div class="loginButton">
			<a href="javascript:void(0)" ng-click="modifyPassword()">Cambiar</a>
		</div>

		

		<!-- <div class="loginButton" style="margin-top: 10px;">
			<a href="javascript:void(0)" ng-click="generatePin()">Obtener Pin</a>
		</div> -->

		<!-- <div class="loginLinks" style="position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto;">
			<a href="#/home" style="color: #565656;">Omitir</a>
		</div> -->


		<!-- <div class="loginLinks row">
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"
				style="padding: 0; text-align: right;">
				<a href="javascript:void(0)" style="text-align: right;">Registrarse</a>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">|</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"
				style="padding: 0; text-align: left;">
				<a href="javascript:void(0)" style="text-align: left;">Omitir</a>
			</div>
		</div> -->

	</div>