<div class="loginScreen">

	<div class="centeredImg">
		<img src="img/logoWhite.png" />
	</div>

	<div class="loginControls" style="margin-top: 20px;">

		<h4 style="margin-bottom: 40px;">Recuperar tu contraseña</h4>

		<div class="loginControl">
			<i class="fa fa-envelope-o"></i>
			<input type="text" placeholder="Tu correo electrónico" />
		</div>

		<div class="loginButton">
			<a href="javascript:void(0)" ng-click="recoverPassword()">Recuperar</a>
		</div>

		<div class="loginLinks">
			<a href="#/login" style="text-align: center;">Atrás</a>
		</div> 

	</div>
</div>
	