<div class="loginScreen" ng-init="sLoadPlaneta2()">

    <div class="centeredImg">
        <img src="img/logoWhite.png" />
    </div>

    <div class="loginControls">

        <p>Te hemos enviado un código de confirmación a tu número celular registrado   
            <label >{{user.phoneNumber}}</label>
            , ingresalo a continuación por favor, en
            caso de no tener actualizado tu número celular, comunicate al
            <a href="tel:026002200">(02) 600-2200</a> para actualizar tus datos</p>

        <div class="loginControl">
            <i class="fa fa-credit-card"></i>
            <input type="text" placeholder="Código" ng-model="firebaseCode" />
        </div>

        <div class="loginButton">
            <a href="javascript:void(0)" ng-click="planetaStep2()">Continuar</a>
        </div>
    </div>
</div>