<div class="loginScreen">

	<a href="#/home" class="headerButton">
		<i class="fa fa-chevron-left"></i>
	</a>

	<div class="centeredImg">
		<img src="img/logoWhite.png" />
	</div>

	<div class="about">

		<p class="aboutTitle"
			style="font-size: 18px; text-align: center; margin-top: 15px;">Políticas</p>

		<p class="aboutTitle">Aviso Legal</p>
		<p class="aboutText">Datos del propietario y responsable del sitio
			web www.etafashion.com: COMERCIAL ETATEX C.A (en adelante,
			ETAFASHION) Av. Galo Plaza Lasso N60-122 y Santa Lucia Esq. 593 Quito
			Ecuador</p>

		<p class="aboutTitle">Condiciones de uso</p>
		<p class="aboutText">El acceso y uso del sitio web
			www.etafashion.com (en adelante, Web) otorga la condición de Usuario
			al visitante de la Web e implica la total aceptación sin reservas por
			parte del Usuario de estas condiciones de uso. En caso de no
			aceptación, rogamos no utilice la Web.</p>

		<p class="aboutTitle">Propiedad intelectual e industrial</p>
		<p class="aboutText">La Web y sus contenidos, incluidos los
			diseños, textos, gráficos, logos, iconos, botones, así como el
			software, los nombres comerciales, las marcas, obras, ilustraciones,
			fotografías o dibujos industriales y cualesquiera otros signos
			susceptibles de utilización industrial y comercial (i) son propiedad
			y titularidad de ETAFASHION o de terceros titulares de los mismos que
			han autorizado debidamente su inclusión en la Web y (ii) están
			protegidos por la legislación nacional e internacional sobre
			propiedad intelectual e industrial.En ningún caso se entenderá que
			ETAFASHION concede licencia alguna o efectuante; a renuncia,
			transmisión, cesión total o parcial de dichos derechos ni se confiere
			ningún derecho ni expectativa de derecho, y en especial, de
			alteración, transformación, explotación, reproducción, distribución o
			comunicación pública sobre dichos contenidos sin la previa
			autorización expresa y escrita de ETAFASHION o de los titulares
			correspondientes.El Usuario sólo puede utilizar la Web y sus
			contenidos para su uso personal y privado. Cualquier otro uso queda
			prohibido y requerirá al Usuario obtener la previa autorización
			expresa y escrita de ETAFASHION.</p>

		<p class="aboutTitle">Obligaciones de los Usuarios</p>
		<p class="aboutText">Con carácter general los Usuarios deberán
			obrar siempre conforme a la ley, las buenas costumbres y las
			exigencias de la buena fe, empleando la diligencia debida y
			absteniéndose de utilizar la Web de cualquier forma que pueda
			impedir, dañar o deteriorar el normal funcionamiento de la Web, los
			bienes o derechos de ETAFASHION, sus proveedores, el resto de
			usuarios o en general de cualquier tercero.
		<ul>
			<li>Facilitar información veraz sobre los datos solicitados en
				el formulario de registro o de realización del pedido, y mantenerlos
				actualizados.</li>
			<li>No introducir, almacenar o difundir mediante la Web ningún
				programa, datos, virus, código, o cualquier otro dispositivo
				electrónico o físico que sea susceptible de causar daños en la Web,
				en cualquiera de los servicios, o en cualquiera de los equipos,
				sistemas o redes de ETAFASHION, de cualquier otro usuario, de los
				proveedores de ETAFASHION o en general de cualquier tercero.</li>
			<li>No realizar actividades publicitarias o de explotación
				comercial a través de la Web, y no utilizar los contenidos y la
				información del mismo para remitir publicidad, o enviar mensajes con
				cualquier otro fin comercial, ni para recoger o almacenar datos
				personales de terceros.</li>
			<li>No utilizar identidades falsas, ni suplantar la identidad de
				otros en la utilización de la Web o de cualquiera de los servicios
				de la misma, incluyendo la utilización en su caso de contraseñas o
				claves de acceso de terceros o de cualquier otra forma.</li>
			<li>No destruir, alterar, utilizar para su uso propio,
				inutilizar o dañar los datos, informaciones,programas o documentos
				electrónicos de ETAFASHION, nuestros proveedores o terceros.</li>
			<li>No introducir, almacenar o difundir mediante la Web
				cualquier contenido que infrinja derechos de propiedad intelectual,
				industrial o secretos empresariales de terceros, ni en general
				nitngún contenido del cual no ostentará, de conformidad con la ley,
				el derecho a ponerlo a disposición de terceros.</li>
		</ul>

		</p>

		<p class="aboutTitle">Protección de datos personales</p>
		<p class="aboutText">
			Al registrarte en ETAFASHION.com, autorizas a Comercial ETATEX C.A.
			(ETAFASHION) a incluir los datos personales suministrados en un
			fichero propiedad de Comercial ETATEX C.A. y a utilizar y tratarlos
			con fines de gestión de clientes y fines de publicidad y prospección
			comercial, incluido el envío (vía postal, e-mail u otros medios
			electrónicos) de comunicaciones comerciales sobre productos,
			servicios, ofertas, promociones y noticias del grupo ETAFASHION, en
			cumplimiento de la Ley Orgánica de Protección de Datos de Carácter
			Personal.
			<br>
			<br>
			Para finalidades directamente relacionadas con los fines indicados en
			el apartado anterior, los datos del Usuario podrán ser cedidos a
			otras empresas del grupo ETAFASHION, que pueden estar localizadas
			fuera del Espacio Económico Americano, incluidos aquellos países que
			no tienen un nivel equiparable de protección de datos.
			<br>
			<br>
			El Usuario garantiza la veracidad y exactitud de los datos personales
			facilitados a ETAFASHION.
		</p>

		<p class="aboutTitle">Cookies</p>

		<p class="aboutText">

			Nuestra Web almacena información de la direcciones IP de los
			ordenadores y utiliza cookies. Las cookies son pequeños archivos de
			texto que contienen información y que los sitios web envían al
			ordenador del Usuario cuando está navegando por los mismos.
			<br>
			<br>
			Las cookies nos ayudan a mejorar nuestra Web y a prestar una
			experiencia de navegación mejor y más personalizada. En concreto, nos
			permiten:
		<ul>
			<li>Almacenar información acerca de tus preferencias y
				personalizar nuestra Web de conformidad con tus intereses
				particulares.</li>
			<li>Recordar los productos que has seleccionado e introducido
				anteriormente en Tu Bolsa.</li>
			<li>Acelerar tus búsquedas.</li>
			<li>Reconocer al ordenador cuando el Usuario regresa de nuevo a
				nuestra Web.</li>
			<li>Recoger datos derivados del tráfico y la interacción de los
				Usuarios en nuestra Web para identificar tendencias y con fines
				estadísticos.</li>
		</ul>
		El Usuario puede negarse a aceptar cookies activando la configuración
		en el navegador que permite rechazar las cookies. No obstante, si
		desactivas las cookies, no tendrás acceso a muchas de las
		funcionalidades de nuestra Web y algunos de los servicios pueden dejar
		de funcionar correctamente.
		</p>



		<p class="aboutTitle">Enlaces a Webs de terceros</p>
		<p class="aboutText">

			A través de este sitio web, ETAFASHION proporciona una plataforma en
			línea mediante la cual el Usuario podrá reservar una o varios
			artículos que se exponen en nuestras tiendas.
			<br>
			<br>
			Para realizarlo deberá:
			<br>
			<br>
			Seleccionar uno o varios artículos que se presentan en nuestro sitio
			web y elegir la tienda que más le agrade para realizar la reserva.
			<br>
			<br>
			Validarse como usuario del sitio web.
			<br>
			<br>
			Verificar los artículos seleccionados y proceder con la reserva.
			<br>
			<br>
			Se enviará un correo electrónico en el cual constarán:
		<ul>
			<li>Código de reserva.</li>
			<li>Lista de artículos y tiendas seleccionadas.</li>
			<li>El tiempo de vigencia de la reserva será de cinco días,
				dentro de los cuales el Usuario deberá acercarse a la tienda para
				probar el o los artículos reservados.</li>
		</ul>
		</p>

		<p class="aboutTitle">Contacto con ETAFASHION</p>
		<p class="aboutText">
			Para cualquier pregunta o incidencia con el uso de la Web, puedes
			contactar con ETAFASHION:
			<br>
			<br>
			A través de la sección Contacta de la Web.
			<br>
			<br>
			Por e-mail, enviando tu mensaje a
			<a href="mailto:info@etafashion.com">info@etafashion.com</a>
		</p>

		<div class="loginLinks" style="text-align: center;">
			<a href="#/home">Regresar</a>
		</div>


	</div>
</div>