<div class="loginScreen" ng-init="sLoadRegister();">

	<div class="centeredImg">
		<img src="img/logoWhite.png" />
	</div>

	<div class="loginControls">

		<div class="loginControl">
			<i class="fa fa-user"></i>
			<input type="text" placeholder="Nombres" ng-model="completeName" />
		</div>

		<div class="loginControl">
			<i class="fa fa-at"></i>
			<input type="text" placeholder="Correo electrónico" autocorrect="off" autocapitalize="none" ng-model="username" />
		</div>

		<div class="loginControl">
			<i class="fa fa-lock"></i>
			<input type="password" placeholder="Contraseña" ng-model="password" />
		</div>

		<div class="loginButton">
			<a href="javascript:void(0)" ng-click="register1()">Continuar</a>
		</div>

		<div class="row socialButtons">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fbBtn">
				<a href="javascript:void(0)" ng-click="getFacebookData() ">
					<i class="fa fa-facebook-square"></i>
				</a>
			</div>
			<!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 gpBtn">
				<a href="javascript:void(0)">
					<i class="fa fa-google-plus-square"></i>
				</a>
			</div> -->
		</div>

		<div class="loginLinks">
			<a href="#/login">¿Ya tienes cuenta?</a>
		</div>

	</div>

</div>