<div class="welcomeScreen" id="w1" ng-init="sLoadW1()">

	<div class="welcomeBackground">
		<img src="img/welcomeBackground.gif" />
	</div>

	<div class="centeredImg">
		<img src="img/logoWhite.png" />
	</div>

	<div class="mainText">
		<p>Bienvenido a tu APP</p>
	</div>
	<div class="infoText">
<!-- 		<p>Bienvenido a tu APP</p> -->
	</div>
	<div class="steps">
		<table>
			<tr>
				<td>
					<img src="img/iconCircle_20.png" />
				</td>
				<td>
					<img src="img/iconCircleFill_20.png" />
				</td>
				<td>
					<img src="img/iconCircleFill_20.png" />
				</td>
			</tr>
		</table>
	</div>
	<div class="nextButton">
		<a href="#/welcome2">Continuar</a>
	</div>

</div>