<div class="welcomeScreen" id="w3">

	<div class="welcomeBackground">
		<img src="img/welcomeBackground.gif" />
	</div>

	<div class="centeredImg">
		<img src="img/logoWhite.png" />
	</div>

	<div class="mainText">
		<p>TU APP TE DA SEGURIDAD.</p>
	</div>
	<div class="infoText">
		<p>
			CD PLANETA
			<br>
			<br>
			Compra en linea
			<br>
			<br>
			Consulta tu ETACASH
		</p>
	</div>
	<div class="steps">
		<table>
			<tr>
				<td>
					<img src="img/iconCircleFill_20.png" />
				</td>
				<td>
					<img src="img/iconCircleFill_20.png" />
				</td>
				<td>
					<img src="img/iconCircle_20.png" />
				</td>
			</tr>
		</table>
	</div>
	<div class="nextButton">
		<a href="#/login">Finalizar</a>
	</div>

</div>