<div class="welcomeScreen" id="w1">

	<div class="welcomeBackground">
		<img src="img/welcomeBackground.gif" />
	</div>

	<div class="centeredImg">
		<img src="img/logoWhite.png" />
	</div>

	<div class="mainText">
		<p>Con tu app, se el primero en conocer:</p>
	</div>
	<div class="infoText">
		<p>			
			Nuevas Colecciones
			<br>
			<br>
			Promociones Exclusivas
			<br>
			<br>
			Muchos más beneficios
		</p>
	</div>
	<div class="steps">
		<table>
			<tr>
				<td>
					<img src="img/iconCircleFill_20.png" />
				</td>
				<td>
					<img src="img/iconCircle_20.png" />
				</td>
				<td>
					<img src="img/iconCircleFill_20.png" />
				</td>
			</tr>
		</table>
	</div>
	<div class="nextButton">
		<a href="#/welcome3">Continuar</a>
	</div>

</div>